<!--This file provides the html for the main page, including some of the books from the database and navigation between pages-->
@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="bg-dark text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col navbar-brand">Book Store</div>
            <div class="col-6 text-right">
                <vc:cart-summary />
            </div>
        </div>
    </div>
</div>

<vc:navigation-menu />
<br />

<!--This div contains several books from the database-->
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Number of Pages</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--This new section connects to the ProjectSummary partial view, where I am now storing the table contents in a more encapsulated way-->
            @foreach (var x in Model.Books)
            {
                <partial name="ProjectSummary" model="x" />
            }
        </tbody>
    </table>
</div>

<!--This div contains navigation between the different pages of books-->
<div class="text-center">
    <div page-model="@Model.PagingInfo" page-action="Index" page-class-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1 text-center"></div>
</div>